{% extends 'base.html.twig' %}

{% block title %}Ajout Artisan{% endblock %}

{% block stylesheets %}
<style>
#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
				height:400px;
				width: 450px;
			}
</style>
{% endblock %}

{% block body %}

<center><h1 class="mt-4">Ajouter Artisan</h1></center>

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Votre position</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map"></div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{{ form(form) }}

{% endblock %}

{% block javascripts %}
<script src="https://maps.google.com/maps/api/js?key=AIzaSyB6pMvczInWTWXzYwfMbbHvM0MUtvXLALc" type="text/javascript"></script>
<script async type="text/javascript">
        function initMap() {
            const myLatlng = {
                lat: -18.879880,
                lng: 47.505491
            };

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 18,
                center: myLatlng,
                mapTypeId: 'hybrid'

            });


            let infoWindow = new google.maps.InfoWindow({
                content: "Veuillez montrer votre position",
                position: myLatlng,
            });

            infoWindow.open(map);
            map.addListener("click", (mapsMouseEvent) => {
                infoWindow.close();
                infoWindow = new google.maps.InfoWindow({
                position: mapsMouseEvent.latLng,
                });
                document.getElementById('ajout_artisan_positionX').value = mapsMouseEvent.latLng.lat();
                document.getElementById('ajout_artisan_positionY').value = mapsMouseEvent.latLng.lng();
                infoWindow.setContent(
                JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
                );
                infoWindow.open(map);
            });
        }

        window.onload = function(){
            initMap(); 
        };
	</script>
{% endblock %}
